<style>
*{
text-align:center;
font-famaly:courier, "courier new";
}
body{ 
background: linear-gradient(lightgreen, #e1f7d5);
background-repeat: repeat-x;
}
main, nav, header{
margin-left:10%;
margin-right:10%
}
li{
display:inline;
padding-left:5%;
padding-right:5%
}
ul{
background: color:#3366ff;
overflow: hidden;
}
a:hover{
background-color:blue;
}
</style>